<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stockup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".BuyerShoppingList"></activity>
        <activity android:name=".BuyerMyShoppingListActivity" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".BuyerOrderTemplate" />
        <activity android:name=".BuyerMyOrders" />
        <activity android:name=".ItemWithoutPrice" />
        <activity android:name=".BuyerMyGroceries" />
        <activity android:name=".WalletActivity" />
        <activity android:name=".RunnerHome" />
        <activity android:name=".BuyerHome" />
        <activity android:name=".ItemListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>