<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stockup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".RunnerAssignmentDetailConfirmationActivity"></activity>
        <activity android:name=".RunnerCompletedAssignmentActivity" />
        <activity android:name=".RunnerCompletedAssignmentDetailActivity" />
        <activity android:name=".BuyerAddressChangeActivity" />
        <activity android:name=".BuyerWalletChangeActivity" />
        <activity android:name=".RunnerAssignmentPoolDetailsConfirmationActivity" />
        <activity android:name=".RunnerAssignmentPoolDetailsActivity" />
        <activity android:name=".BuyerOrderDetailsActivity" />
        <activity android:name=".Register2Activity" />
        <activity android:name=".BuyerOrderConfirmationActivity" />
        <activity android:name=".RunnerAssignmentActivity" />
        <activity android:name=".RunnerAssignmentDetailActivity" />
        <activity android:name=".RunnerAssignmentPoolActivity" />
        <activity android:name=".RunnerWalletActivity" />
        <activity android:name=".BuyerAddressActivity" />
        <activity android:name=".BuyerOrderActivity" />
        <activity android:name=".BuyerAddToShoppingListActivity" />
        <activity android:name=".BuyerAddToGroceriesActivity" />
        <activity android:name=".BuyerGroceriesActivity" />
        <activity android:name=".BuyerAddItemActivity" />
        <activity android:name=".BuyerShoppingList" />
        <activity android:name=".BuyerShoppingListActivity" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".BuyerGroceries" />
        <activity android:name=".BuyerWalletActivity" />
        <activity android:name=".RunnerHome" />
        <activity android:name=".BuyerHome" />
        <activity android:name=".ItemListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>